SQLAlchemy
databases
DateTime
typing
uuid
pydantic
passlib
psycopg2
fastapi
bcrypt
asyncio
uvicorn
asyncpg
python-multipart
passlib[bcrypt]
python-dotenv
pydantic-settings>=2.2,<3.0
email-validator>=2.0,<3.0
alembic